<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registracija</title>
  <link th:href="@{css/registracija.css}" rel="stylesheet">
</head>
<body>


<div class="container">
  <div class="forms">
    <div class="form-login">
      <h1>Uloguj se</h1>

      <form th:action="@{/perform_login}" method="post">
        <div class="input-field">
          <input type="email"   name="email" placeholder="Email">
        </div>

        <div class="input-field">
          <input type="password"name="sifra" placeholder="Sifra">
        </div>

        <div class="input-field-btn">
          <input type="submit" value="Uloguj se">
        </div>

      </form>
      <a class="pocetna" th:href="@{/}">Pocetna</a>
    </div>
  </div>
</div>


</body>
</html>